/********************************************************
General
********************************************************/
/*
@import url("reset.css");*/
@import url("projects.css");
@import url("fonts/Gotham/Gotham-Light.otf");
@import url("fonts/Gotham/Gotham-Bold.otf");

body {
	width: 100%;
	height: 100%;
	background: white;
}

.container {
	width: 95%;
	background-color: lightgreen;
	margin: 0 auto;
	font-family: "Gotham-Light", Helvetica, Sans-Serif;
}

.flex-row-between {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
.flex-column-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
}

h2 {
	font-family: "Gotham-Bold";
	font-size: 26px; 
}

p {
	font-size: 16px;
	line-height: 24px;
}

h3 {
	font-size: 16;
	font-family: "Gotham-Bold";
	letter-spacing: 0.25em;
}

.main {
	background: lightyellow;
	padding-top: 12vh; /* will change in JS */
	width: 100%;
	

}

/********************************************************
Nav
********************************************************/

nav {
	width: 95%;
	background-color: white;
	position: fixed;
	min-height: 75px;
	height: 6.2vh; /* will change in JS */
	font-size: 16px;
	padding-top: 4.3vh; /* will change in JS */
/*	padding: 60px 30px 0;*/
/*	margin-top: -150px;*/
}

.header_link {
	text-decoration: none;
	color: black;
/*	border-bottom: 1px solid black;*/
}

.header_link:hover {
/*	text-decoration: line-through;*/
	border-bottom: 1px solid black; 
}

.home {
	color: black;
	text-decoration: none;


	padding-bottom: 5px;
	position: relative;
}

.home img {
	position: absolute;
	top: -5px;

}

.home a {
	margin-left: 30px;
}



div.home a:hover {
	border-bottom: 0px solid black; 
}

div.categories {
	width: 250px;
	height: 19px;
}

/********************************************************
Sidebar Nav
********************************************************/

.sidenav {
	position: absolute;
	right: 2%;
	top: 10.5vh; /* will change in JS */
	width: 20px;
	background: lightgreen;
	height: 89.5vh;
}

.sidenav-divs {
	width: 20px;
	height: 20px;
	background: lightblue;
	z-index: 3;
	margin-bottom: 10px;
}

.sidenav-checkbox {

}

#sidenav-checkbox-first:checked ~ .first-project {
	display: block;
}


















